body{
    box-sizing: border-box;
    
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    margin: 50px auto;
    border: 2px solid black;
    gap: 1px;
    background-color: #AAA;
    border-radius: 5px;
}

#container div{
    box-sizing: border-box;
    flex-grow:  0;
    flex-shrink: 0;
    background-color: #ccc;
    
}

button{
    margin: 10px 600px;

}

h1{
    text-align: center;
}

#cont-size{
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
    
}